<div class = "well results-well">
<div class="row">
<div class="col-xs-2 col-xs-offset-1 text-center">
<h3>$44.00</h3>
<br>
<p>DISCOUNTS</p>
</div>
<div class="col-xs-2 text-center">
<h3>$2875</h3>
<br>
<p>DOWN PAYMENT</p>
</div>
<div class="col-xs-2 text-center">
<h3>0.0%</h3>
<br>
<p>APR</p>
</div>
<div class="col-xs-2 text-center">
<h3>19</h3>
<br>
<p># of MONTHS</p>
</div>
<div class="col-xs-2 text-center">
<h3>$77.95</h3>
<br>
<p>MONTHLY PAYMENT</p>
</div>
</div>
</div>
<div class="row">
<div class="col-xs-12">
<button type="button" class="btn btn-primary btn-smile"> Start Smiling Now!</button>
</div>
</div>