.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


#loginWord {
    margin-bottom: 18px;
    display: block;
    margin-left: 117px;
}

.container {
    margin-top: 2cm;
}
.outer-well{
    background-color: #DCE3F2;
    padding: 20px;
    border-radius: 50px;
    border-color: #4E73BE;
}

.inner-well {
    background-color: #FFFFFF;
    border-radius: 50px;
    padding: 20px;
    border-color: #4E73BE;
}

.intro-me-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.inbound-networking-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-height: 75px;
    min-width: 75px;
}
.disclaimer {
    font-style:italic;
}
