
<h2>My PATIENTS</h2>
<ul class="patients">
	<li *ngFor="let patient of patients" [class.selected]="patient === selectedPatient"
 (click)="onSelect(patient)">
    <span class="badge">{{patient.id}}</span> {{patient.name | uppercase}}
  </li>
</ul>

<div *ngIf="selectedPatient">

<div class="row">
<div class="col-xs-4 costs-discounts">
<div class="row">
<p style="text-align:left;">
YOUR TREATMENT COST
<span style="float:right;"><u>${{selectedPatient.totalTreatmentCost}}</u></span>
</p></div>
<div style='border-bottom:1px solid #ccc;'></div>
<div class="row">
<p style="text-align:left;">
ESTIMATED INSURANCE COVERAGE
<span style="float:right;">${{selectedPatient.estimatedInsuranceCoverage}}</span>
</p></div>
<div style='border-bottom:1px solid #ccc;'></div>
<div class="row">
<p style="text-align:left;">
COURTESY
<span style="float:right;"><u>${{selectedPatient.courtesy}}</u></span>
</p></div>
<div style='border-bottom:1px solid #ccc;'></div>
<div class="row">
<p style="text-align:left;">
PATIENT RESPONSIBILITY
<span style="float:right;">$fx pending</span>
</p></div>
</div>
<div class="col-xs-8">
<div class="well slider-well">
<p>Options</p>
</div>
</div>
</div>
<div class="well slider-well">
<div class="row text-center">
<h2>{{selectedPatient.name}}'s Payment Plan</h2>
</div>


<div class="row">
<div class="col-sm-3">
<p>CHOOSE A DOWN PAYMENT TO REDUCE YOUR MONTHLY PAYMENTS</p>
</div>
<div class="col-sm-1 text-center">
<h3>Down Payment</h3>
</div>
<div class="col-sm-8">
<div class="slidecontainer">
  <input type="range" min="0" max="patient.totalTreatmentCost" value="patient.downPayment" class="slider" id="myRange1">
</div>

</div>
</div>
<div class="row">
<div class="col-sm-3">
<p>CHOOSE A MONTHLY PAYMENT THAT YOU ARE COMFORTABLE PAYING</p>
</div>
<div class="col-sm-1 text-center">
<h3>Monthly Payment</h3>
</div>
<div class="col-sm-8">
<div class="slidecontainer">
  <input type="range" min="0" max="patient.monthlyPayment" value="patient.monthlyPayment" class="slider" id="myRange2">
</div>
</div>
</div>
</div>
</div>