.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 20px;
    border-radius: 5px;  
	border: 1px #010101;
    background: #FFFFFF;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 100px;
    height: 60px;
    border-radius: 15px; 
	background: #7AAFD2;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 100px;
    height: 60px;
    border-radius: 15px;
	background: #7AAFD2;
    cursor: pointer;
}
.slidecontainer {
	padding: 50px;
}
.well {
    padding: 20px;
}
.costs-discounts p{
    font-size:12px;
	color: #000000;
}
.slider-well {
    padding: 5px;
}
.slider-well h2{
    font-size:35px;
	color: #36436B;
	font-weight: bold;
}
.slider-well h3{
    font-size:25px;
	color: #7AAFD2;
	font-weight: bold;
}
.slider-well p{
    font-size:15px;
    padding: 10px;
	color: #000000;
}

.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.patients {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.patients li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.patients li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.patients li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.patients .text {
  position: relative;
  top: -3px;
}
.patients .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}