<div class="container">
    <div class="col-xs-4">
        <div class="row">
            <p style="text-align:left;">
            YOUR TREATMENT COST
            <span style="float:right;"><u>${{selectedPatient.totalTreatmentCost}}</u></span>
            </p>
        </div>
        <div style='border-bottom:1px solid #ccc;'></div>
        <div class="row">
            <p style="text-align:left;">
            ESTIMATED INSURANCE COVERAGE
            <span style="float:right;">${{selectedPatient.estimatedInsuranceCoverage}}</span>
            </p>
        </div>
        <div style='border-bottom:1px solid #ccc;'></div>
        <div class="row">
            <p style="text-align:left;">
            COURTESY
            <span style="float:right;"><u>${{selectedPatient.courtesy}}</u></span>
            </p>
        </div>
        <div style='border-bottom:1px solid #ccc;'></div>
        <div class="row">
            <p style="text-align:left;">
            PATIENT RESPONSIBILITY
            <span style="float:right;">$fx pending</span>
            </p>
        </div>
    </div>
</div>
